//- div(data-is='atom-button', title='〇〇', type='〇〇', color='〇〇', onclickの処理など)の形で仕様
atom-button.w-full
  a.block.s-full.rounded-8.border.bg-white.px50.py12.text-center.bold(href='{opts.link}') {opts.label}
